@charset "utf-8";
.bodyresome {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.link {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #00F;
	text-decoration: underline;
}
.head_submit {
	font-family: sans-serif, "Times New Roman", Tahoma;
	font-size: 14px;
	font-weight: bold;
}
.headwebbord {
	font-family: sans-serif, "Times New Roman", Tahoma;
	font-size: 16px;
	font-weight: bold;
}
