/*
Template Name: Education Time
File: Layout CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(homepage.css);
@import url(gallery.css);
@import url(featured_slide.css);

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#F8F8F2;
	background-color:#03274B;
	}

img{margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}
.fl_center{float:center;}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D7DBE0;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	text-align:left;
	back-ground:#03274B;
	
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	}

.row1{color:#5F8EC2; background-color:#03274B;}
.row1 a{color:#F8F9F3; background-color:#03274B;}
.row2{color:#F8F9F3; background-color:#072C53; border-top:1px solid #2B4D71; border-bottom:1px solid #2B4D71;}
.row3{color:#777777; background:url("../images/featured_slide_bg.gif") top left repeat-x #F8F9F3;}
.row4{color:#777777; background-color:#F8F9F3; border-bottom:2px solid #03274B;}
.row5{padding:50px 0 30px 0; border-top:1px solid #F8F9F3;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #featured_slide, #container, #footer{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}
        #copyright{
            width: 100%;
        }
/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:25px 0 30px 0;
	}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:30px; font-variant:small-caps; color:#FFF;}
#header p{margin-top:4px; color:#FFF;}

#header .fl_right{
	display:block;
	width:360px;
	}
		

#header .fl_right ul{
	margin-bottom:10px;
	font-size:11px;
	}

#header .fl_right li{
	display:inline;
	margin:0 4px 0 0;
	padding:0 6px 0 0;
	border-right:1px solid #FCFCFC;
	}

#header .fl_right li.last{
	margin:0;
	padding:0;
	border:none;
	}

/* ----------------------------------------------Content-------------------------------------*/

#container{
	padding:30px 0;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	color:#8199A9;
	background-color:#F8F9F3;
	}

#container a{
	color:#591F58;
	background-color:#F8F9F3;
	}

#container .title{
	display:block;
	width:100%;
	margin:0 0 20px 0;
	padding:0 0 8px 0;
	font-size:14px;
	text-transform:uppercase;
	border-bottom:5px solid #8199A9;
	}

#content{
	display:block;
	float:left;
	width:630px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist{margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#591F58; background-color:#F7F7F7;}

#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#591F58; background-color:#E8E8E8;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:20px;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	text-transform:none;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured a{
	color:#591F58;
	background-color:#F7F7F7;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 8px 0;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#container #column .readmore a{
	display:block;
	width:100%;
	margin-top:15px;
	height:auto;
	padding-left:0;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	background:none;
	}

#column .latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column .latestnews li{
	display:block;
	width:100%;
	height:99px;
	margin:0 0 11px 0;
	padding:0 0 21px 0;
	border-bottom:1px dotted #C7C5C8;
	overflow:hidden;
	}

#column .latestnews li.last{
	margin-bottom:0;
	}

#column .latestnews p{
	display:inline;
	}

#column .latestnews img{
	float:left;
	margin:0 10px 0 0;
	padding:4px;
	border:1px solid #C7C5C8;
	clear:left;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	line-height:2em;
	background:url("../images/footer_bg.gif") 380px 0 repeat-y;
	
	}

#footer, #footer a{
	color:#F8F8F2;
	background-color:#03274B;
	}

#footer h2, #footer p, #footer ul, #footer a, #footer address{
	margin:0;
	padding:0;
	font-weight:normal;
	list-style:none;
	font-style:normal;
	}

#footer h2{
	margin:0 0 30px 0;
	padding:0;
	font-size:22px;
	color:#7F99A9;
	background-color:#03274B;
	}

#footer .foot_contact{
	display:block;
	float:left;
	width:380px;
	margin:0 40px 0 0;
	padding:0;
	}

#footer .foot_contact address{
	margin-bottom:30px;
	}

#footer .footbox{
	display:block;
	float:left;
	width:170px;
	margin:0 15px 0 0;
	padding:0;
	font-size:12px;
	}

#footer .footbox h2{
	margin-bottom:20px;
	font-size:14px;
	text-transform:uppercase;
	}

#footer .last{
	margin:0;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:15px 0;
	border-top:1px solid #2B4D71;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright, #copyright a{
	color:#7F99A9;
	background-color:#03274B;
	}
	
.map-and-list,.map-and-list ul{
    float: left;
    width:720px;
    height: 48px;
    position: relative;
    margin-left: 0px;
}

.map-and-list ul li{
    float: left;
    width: 200px;
    text-align: center;
    margin-left: -1px;

    height: 48px;
    line-height: 48px;
	list-style:none;
    background: #0298CF;

}

.map-and-list ul li.active{
    height: 49px;
    background: #82D1FA;
	
}
.map-and-list ul li.active a{
background-color:#82D1FA!important;
color:#FFFFFF!important;
}

.map-and-list ul li a{
    color:#FFFFFF!important;
    font-size: 14px;
    text-decoration: none;
	background-color:#0298CF!important;
	

}
.map-and-list ul li:hover {
    color:#FFFFFF;
    background: #8fc2dc;

}
.map-and-list ul li.active:hover {
    color:#FFFFFF;
    background: #82D1FA;

}
.show-list{
    float: left;
    width:100%;
    border: 1px solid #0298CF;
    margin-left: -1px;
}

.number-of-list{
    font-size: 13px;
    width: 96%;
    margin-left: 2%;
}


#test-btn3:hover img{
    cursor: pointer;
}
