#library {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 14px;
}
.libra2 {
	font-family: Tahoma, "MS Sans Serif", sans-serif;
	font-size: 14px;
}

.libra {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 14px;
	font-weight: normal;
}

.boxlibrary {
	border-top-width: thin;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-top-color: #00C;
	background-color: #C9F;
	border-right-color: #D6D6D6;
	color: #000;
}
.head_library {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #F60;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
.box_library {
	background-color: #FFC;
}
