.contact {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.headcontact {
	font-family: "Times New Roman", sans-serif, Tahoma;
	font-size: 16px;
	font-weight: bold;
}
