/*
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	background: url(images/main_bg.jpg) top center repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.8em;
	font-weight: normal;
	font-variant: normal;
}
html, .main {
	padding:0;
	margin:0;
	background-color: #F5F5F5;
}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 {
	margin:0;
	padding:29px 0;
	color:#fff;
	font-size: 40px;
	font-style: normal;
	line-height: 1.2em;
	font-weight: normal;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span {
 margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
h1 small { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
h2 {
	color:#323a3f;
	padding:8px 0;
	margin:8px 0;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a {
	color:#03F;
	text-decoration:none;
	font-size: 12px;
	font-weight: bold;
}

.header, .hbg, .content, .fbg, .footer { margin:0; padding:0;}
.hbg_resize, .content_resize, .fbg_resize { margin:0 auto; padding:24px 40px; width:900px; background-color:#fff; -moz-border-radius:10px;}

/* header */
.header {
	background-image: url(images/header_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.header_resize {
	padding:0;
	width:1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.header .logo {
	width:auto;
	float:left;
	height: auto;
}
/* button */
.menu{
	width:900;
	
	}
.green.button{
	color:#345903 !important;
	border:1px solid #96a37b !important;	
	background-color: #79be1e;
	
	background-image:url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
	background-image:url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
}

.green.button:hover{
	background-color:#89d228;
	
	background-image:url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
	background-image:url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
}

.blue.button{
	color:#0f4b6d !important;
	
	border:1px solid #84acc3 !important;
	
	/* A fallback background color */
	background-color: #48b5f2;
	
	/* Specifying a version with gradients according to */
	
	background-image:	url('button_bg.png'), url('button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
						-moz-linear-gradient(#4fbbf7, #3faeeb);

	background-image:	url('button_bg.png'), url('button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.blue.button:hover{
	background-color:#63c7fe;
	
	background-image:	url('button_bg.png'), url('button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image:	url('button_bg.png'), url('button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}

.button{
	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:10px 20px;
	background-repeat:no-repeat;
	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image:url('button_bg.png');
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	/* Applying a default border raidus of 8px */
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
	font-family: Calibri, Arial, sans-serif;
	font-size: 15px;
	color: #FFF;
}

.button:hover{
	
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
	
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

.button:active{
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}

/* The three buttons sizes */

.button.big		{ font-size:30px;}
.button.medium	{ font-size:18px;}
.button.small	{
	font-size:13px;
	color: #FFF;
}

/* A more rounded button */

.button.rounded{
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
}


/* search */
#formsearch { margin:0; padding:36px 0 0 0;}
#formsearch span { display:block; margin:7px 0 6px 0; padding:0 8px 0 11px !important; padding:0 4px 0 6px; float:right; width:170px; background:#fff url(images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:6px 0; float:left; width:170px; height:12px; border:none; background:none; font:normal 13px/16px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:7px 0 0 0; padding:0; border:none; float:right;}

/* hbg */
.hbg { padding:16px 0;}
.hbg_resize {
	padding-right:486px;
	width:454px;
	height:380px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right top;
}

/* content */
.content {
	padding-top: 10px;
	padding-bottom: 10px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:none;
	width:auto;
	height: auto;
	background-color: #CBFCC9;
}
.content .mainbar .article, .content .sidebar .gadget {
	margin:0;
	padding:0 0 16px 0;
}
.content .sidebar {
	margin:0;
	padding:0;
	float:right;
	width:220px;
}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none;}
ul.sb_menu li, ul.ex_menu li { margin:0; padding:0; border-bottom:1px dashed #e9e5e5;}
ul.ex_menu li { color:#959595;}
ul.sb_menu li a, ul.ex_menu li a {
	margin:0;
	padding-left:24px;
	text-decoration:none;
	background:url(images/li.gif) no-repeat 0 0;
	line-height:1.8em;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#61a203; font-weight:bold; background:url(images/li_active.gif) no-repeat 0 0;}
ul.sb_menu li { padding:4px 0;}
ul.ex_menu li { padding:8px 0;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { margin:0; padding:0;}
.fbg_resize img { border:1px solid #dedede;}
.fbg_resize .col { margin:0; float:left;}
.fbg_resize .c1 { padding:0 16px 0 0; width:290px;}
.fbg_resize .c2 { padding:0 16px; width:290px;}
.fbg_resize .c3 { padding:0 0 0 16px; width:240px;}
.fbg_resize .c1 img { margin:8px 16px 16px 0; padding:0; float:left;}
.fbg_resize .c3 img { margin:4px; padding:0;}

/* footer */
.footer {
	margin:0;
	padding:0;
	background-color: #CCC;
}
.footer_resize { margin:0 auto; padding:8px 32px; width:962px;}
.footer_resize p.lf { float:left; width:auto;}
ul.fmenu { margin:8px 0; padding:0; list-style:none; float:right; width:auto;}
ul.fmenu li { margin:0; padding:0 8px; float:left;}
ul.fmenu li a {
	color:#000;
	text-decoration:none;
	font-size: 14px;
}
ul.fmenu li a:hover, ul.fmenu li.active a {
	color:#289D1C;
}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
form { margin:0; padding:0;}
ol { margin:0; padding:0; list-style:none;}
ol li { margin:0; padding:0; display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text {
	width:300px;
	border:1px solid #c0c0c0;
	height:16px;
	background:#fff;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}

#map_canvas {
	width:650px;
	height:450px;
	margin:auto;
	margin-top:5px;
	border: 2px dashed #00aeef;
}

#contain_map {
	position:relative;
	width:550px;
	height:430px;
	margin:auto;
	margin-top:20px;
}
/* css ของส่วนการกำหนดจุดเริ่มต้น และปลายทาง */  
#showDD {
	position:absolute;
	bottom:-19px;
	background-color:#FFFFFF;
	color:#FFF;
	left: 7px;
}
#show_form_data {
	margin:auto;
	width:550px;
}
#hand_b {
	width:31px;
	height:31px;
	cursor:pointer;
	background-image: url(images2/Bsu.png);
}
#hand_b.selected {
	background-image: url(images2/Bsd.png);
}
#placemark_b {
	width:31px;
	height:31px;
	cursor:pointer;
	background-image: url(images2/Bmu.png);
}
#placemark_b.selected {
	background-image: url(images2/Bmd.png);
}
#line_b {
	width:31px;
	height:31px;
	cursor:pointer;
	background-image: url(images2/Blu.png);
}
#line_b.selected {
	background-image: url(images2/Bld.png);
}
#shape_b {
	width:31px;
	height:31px;
	cursor:pointer;
	background-image: url(images2/Bpu.png);
}
#shape_b.selected {
	background-image: url(images2/Bpd.png);
}

#box-table-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:800px;text-align:left;border-collapse:collapse;margin:20px;}
#box-table-a table{align:center;}
#box-table-a th{font-size:13px;font-weight:bold;background:#FCD496;border-top:2px solid #fff;border-bottom:1px solid #fff;color:#000;padding:8px;width:auto;}
#box-table-a td{background:#FEE4BF;border-bottom:1px solid #fff;color:#666;border-top:1px solid transparent;padding:8px;}
#box-table-a tr:hover td{background:#FF9231;color:#000;}

/*FormValid*/
input:required:invalid, input:focus:invalid 
{
background-image: url(images/invalid.png); 
background-position: right top; 
background-repeat: no-repeat;
padding-right: 20px;
} 
input:required:valid 
{ 
background-image: url(images/valid.png); 
background-position: right top; 
background-repeat: no-repeat;
padding-right: 20px;
}
/*กรอบภาพ*/

.shadow {
-webkit-border-radius: 5px; /* กำหนดรัศมีของมุมครับ */
-khtml-border-radius: 5px; /* กำหนดรัศมีของมุมครับ */
-moz-border-radius: 5px; /* กำหนดรัศมีของมุมครับ */
border-radius: 5px; /* กำหนดรัศมีของมุมครับ */
-moz-box-shadow: 0 0 5px #B6BDC4; /* กำหนดสีของกรอบและเงาครับ */
-webkit-box-shadow: 0 0 5px #B6BDC4; /* กำหนดสีของกรอบและเงาครับ */
box-shadow: 0 0 5px #B6BDC4; /* กำหนดสีของกรอบและเงาครับ */
padding:10px; /* กำหนดระยะห่างจากขอบด้านในของกรอบถึงขอบของรูปภาพ */
}

a {
	text-decoration: underline;
	color: #0F8C8C;
}


